.arena {
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
  position: relative;
}

.player {
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  transition: all 0.5s ease-in;
}
